{% extends 'dashboard.html' %}
{% load humanize %}
{% block dashboard_content %}
		<form class="form-search">
		  <div class="input-group search-for-events">
		      <input type="search" class="form-control " placeholder="Search For Events...">
		      <span class="input-group-btn">
		          <a class="btn btn-danger">Search</a>
		      </span>
		  </div>
		</form>
        <script>
        $(document).ready(function(){
            $(".event-list-item").click(function(e){
                window.location.href = $(e.currentTarget).attr('href');
            })
        });
        </script>

		<br />
		<br />
		<div class="row">
            {% for event in events%}
                <div class="col-md-3 event-list-item-wrapper">
                    <div class="event-list-item" href="{{event.get_absolute_url}}">
                        <div class="center">
                            <div class="browse-events-picture" 
                            style="background-image: url({{ event.picture.url }})"> 
                            </div>
                        </div>
                        <div class="event-list-item-name">{{event.name}}</div>
                        <date title="{{event.time}}">{{event.time|naturaltime}}</date>
                        <div class="event-list-item-desc">{{event.description | truncatechars:120}}</div>
                        <div class="event-list-item-desc-nontrunc hidden">{{event.description}}</div>
                    </div><!-- End Listing-->
                </div>
            {% endfor %}
        </div>
        

    	
{% endblock %} 