{% extends 'dashboard.html' %}

{% block dashboard_content %}
		<form class="form-search">
		  <div class="input-group">
		      <input type="search" class="form-control " placeholder="Search For Events...">
		      <span class="input-group-btn">
		          <button type="submit" class="btn btn-danger">Search</button>
		      </span>
		  </div>
		</form>

		<br />
		<br />
		<div class="row">
            {% for event in events%}
                <div class="col-md-3">
                    <div class="event-list-item">
                        <div class="center">
                            <div style="width:190px; height:100px; background-color: #cc0000; background-size: cover; background-image: url({{ event.picture.url }})"> 
                            
                            </div>
                        </div>
                        <h4>{{event.name}}</h4>
                        <span>{{event.description | truncatechars:120}}</span>
                    </div><!-- End Listing-->
                </div>
            {% endfor %}
        </div>
        

    	
{% endblock %} 