{% extends 'dashboard.html' %}
{% load humanize %}
{% block dashboard_content %}
		<form class="form-search">
		  <div class="input-group search-for-events">
		      <input type="search" class="form-control " placeholder="Search For Events...">
		      <span class="input-group-btn">
		          <a class="btn btn-danger">Search</a>
		      </span>
		  </div>
		</form>

		<br />
		<br />
		
    	<div class="row">
            <div id="owl-example" class="owl-carousel">
            {% for event in events%}
                <div id="carousel-item" class="col-md-3 event-list-item-wrapper">
                    <div class="event-list-item" href="{{event.get_absolute_url}}">
                        <div class="center">
                            <div class="browse-events-picture" 
                            {% if event.picture %}
                            style="background-image: url({{ event.picture.url }})"
                            {% endif %}>
                            </div>
                        </div>
                        <div class="event-list-item-name">{{event.name}}</div>
                        <date title="{{event.time}}">{{event.time|naturaltime}}</date>
                        <div class="event-list-item-desc">{{event.description | truncatechars:120}}</div>
                        <div class="event-list-item-desc-nontrunc hidden">{{event.description}}</div>
                    </div><!-- End Listing-->
                </div>
            {% endfor %}
            </div>
    	</div>
{% endblock %} 

{% block body_js %}
<script>
    $(document).ready(function() {
        $("#owl-example").owlCarousel();
    });
</script>
{% endblock %}