{% extends 'dashboard.html' %}

{% block dashboard_content %}
		<h1>My Events shiitttt</h1>
		<form class="form-search">
		  <div class="input-group">
		      <input type="search" class="form-control " placeholder="Search For Events...">
		      <span class="input-group-btn">
		          <button type="submit" class="btn btn-danger">Search</button>
		      </span>
		  </div>
		</form>

		<br />
		<br />
		
    	<div class="row">
    		{% for event in events%}
                <div class="col-md-3">
                    <div class="event-list-item">
                        <div class="center">
                            <div class="browse-events-picture" style="background-image: url({{ event.picture.url }})"> 
                            
                            </div>
                        </div>
                        <h4>{{event.name}}</h4>
                        <div>At {{event.time}}</div>
                        <div>{{event.description | truncatechars:120}}</div>
                    </div><!-- End Listing-->
                </div>
            {% endfor %}
    	</div>
{% endblock %} 