{% extends 'base.html' %}

{% block content %}
	<br /> <!-- css -->
	<div class="col-xs-12 col-sm-9">

		<div class="row">
	        <div class="col-md-3 center">
	        	<img src="http://placekitten.com/175/175" class="user-avatar" />
	        </div>
	        <div class="col-md-9">
	        	<div class="user-profile">
	        		<span id="name">{{ mwguser.name }}</span>
	        	</div>
	        	<br />
	        	<script>
	        		$(document).ready(function(){
	        			$(".user-stat-bar > div").click(function(e){
	        				var target = e.currentTarget;
	        				window.location.href = $("a", target).attr('href');
	        			});
	        		});
	        	</script>
	        	<div class="user-stat-bar row">
	        		<div class="col-md-3 {% if page == 'browse' %}selected{% endif %}"><a href="{% url 'browse-events'%}">Browse<br /><span class="user-stat-bar-stat">{{ dash_events|length }}</span></a></div>
	        		<div class="col-md-3 {% if page == 'me' %}selected{% endif %}"><a href="{% url 'my-events'%}">My Events<br /><span class="user-stat-bar-stat">{{ mwguser.events|length }}</span></a></div>
	        		<div class="col-md-3 {% if page == 'create' %}selected{% endif %}"><a href="{% url 'create-event' %}">Create<br /><span class="user-stat-bar-stat glyphicon glyphicon-plus"></span></a></div>
	        	</div>
	        </div>

	        <div class="clear">
	        </div>
    	</div>

    	<hr />

    	{% block dashboard_content %}{% endblock dashboard_content %}
    </div>
{% endblock %}