/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
body#landing {
  padding-top: 0px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }

}


.center {
  text-align: center; 
}

  .name-and-background {
    background-size: cover;
    background-position-y:50%;
  }

  .name-and-background h1 {
    color: white;
  }

  #map_canvas {
    height: 250px;
  }

  .calendar-title {
    text-align: center;
  }

  .google-button {
    background:url('../img/google_base.png');
    background-size:50 100;
    background-repeat: no-repeat;
  }

  .google-button:hover {
    background:url('../img/google_hover.png');
    background-size:50 100;
    background-repeat: no-repeat;
  }

  .google-button:active {
    background:url('../img/google_press.png');
    background-size:50 100;
    background-repeat: no-repeat;
  }


.user-avatar {
  padding: 5px;
  border-radius: 10px;
}

.user-profile {
}
.user-profile > #name {
  font-size: 4em;
  display:block;
  /*font-variant:small-caps;*/
  /*text-transform: uppercase;*/
}

.user-profile > #email {
  display: block;
}

.user-stat-bar {
  /*border-bottom: solid 1px #cc0000;*/
  margin-top:5px;
}

.user-stat-bar > div {
  padding: 10px 15px;
  text-align: center;
  background: #fff;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  border-top: solid 1px #ccc;
  height: 76px;
}

.user-stat-bar > div a{
  color: black;
}

.user-stat-bar > div:hover {
  background: #cc0000;
  color: white;
}
.user-stat-bar > div:hover a{
  color: white;
  text-decoration: none;
}
.user-stat-bar > div.selected {
  background: #cc0000;
  color: white;
}

.user-stat-bar > div.selected a{
  color: white;
}

.user-stat-bar-stat {
  font-weight: normal;
  font-size: 1.8em;
  color: #666;
}

.user-stat-bar > div:hover .user-stat-bar-stat, .user-stat-bar > div.selected .user-stat-bar-stat {
  color: white;
}

.browse-events-picture{
  width:190px; 
  height:100px; 
  background-color: #cc0000; 
  background-size: cover; 
}

/*
 * Events Form Styling
 * --------------------------------------------------
 */
.float-label-control { position: relative; margin-bottom: 1.5em; }
    .float-label-control ::-webkit-input-placeholder { color: transparent; }
    .float-label-control :-moz-placeholder { color: transparent; }
    .float-label-control ::-moz-placeholder { color: transparent; }
    .float-label-control :-ms-input-placeholder { color: transparent; }
    .float-label-control input:-webkit-autofill,
    .float-label-control textarea:-webkit-autofill { background-color: transparent !important; -webkit-box-shadow: 0 0 0 1000px white inset !important; -moz-box-shadow: 0 0 0 1000px white inset !important; box-shadow: 0 0 0 1000px white inset !important; }
    .float-label-control input, .float-label-control textarea, .float-label-control label { font-size: 1.3em; box-shadow: none; -webkit-box-shadow: none; }
        .float-label-control input:focus,
        .float-label-control textarea:focus { box-shadow: none; -webkit-box-shadow: none; border-bottom-width: 2px; padding-bottom: 0; }
        .float-label-control textarea:focus { padding-bottom: 4px; }
    .float-label-control input, .float-label-control textarea { display: block; width: 100%; padding: 0.1em 0em 1px 0em; border: none; border-radius: 0px; border-bottom: 1px solid #aaa; outline: none; margin: 0px; background: none; }
    .float-label-control textarea { padding: 0.1em 0em 5px 0em; }
    .float-label-control label { position: absolute; font-weight: normal; top: -1.0em; left: 0.08em; color: #aaaaaa; z-index: -1; font-size: 0.85em; -moz-animation: float-labels 300ms none ease-out; -webkit-animation: float-labels 300ms none ease-out; -o-animation: float-labels 300ms none ease-out; -ms-animation: float-labels 300ms none ease-out; -khtml-animation: float-labels 300ms none ease-out; animation: float-labels 300ms none ease-out; /* There is a bug sometimes pausing the animation. This avoids that.*/ animation-play-state: running !important; -webkit-animation-play-state: running !important; }
    .float-label-control input.empty + label,
    .float-label-control textarea.empty + label { top: 0.1em; font-size: 1.5em; animation: none; -webkit-animation: none; }
    .float-label-control input:not(.empty) + label,
    .float-label-control textarea:not(.empty) + label { z-index: 1; }
    .float-label-control input:not(.empty):focus + label,
    .float-label-control textarea:not(.empty):focus + label { color: #aaaaaa; }
    .float-label-control.label-bottom label { -moz-animation: float-labels-bottom 300ms none ease-out; -webkit-animation: float-labels-bottom 300ms none ease-out; -o-animation: float-labels-bottom 300ms none ease-out; -ms-animation: float-labels-bottom 300ms none ease-out; -khtml-animation: float-labels-bottom 300ms none ease-out; animation: float-labels-bottom 300ms none ease-out; }
    .float-label-control.label-bottom input:not(.empty) + label,
    .float-label-control.label-bottom textarea:not(.empty) + label { top: 3em; }


@keyframes float-labels {
    0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
    20% { font-size: 1.5em; opacity: 0; }
    30% { top: 0.1em; }
    50% { opacity: 0; font-size: 0.85em; }
    100% { top: -1em; opacity: 1; }
}

@-webkit-keyframes float-labels {
    0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
    20% { font-size: 1.5em; opacity: 0; }
    30% { top: 0.1em; }
    50% { opacity: 0; font-size: 0.85em; }
    100% { top: -1em; opacity: 1; }
}

@keyframes float-labels-bottom {
    0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
    20% { font-size: 1.5em; opacity: 0; }
    30% { top: 0.1em; }
    50% { opacity: 0; font-size: 0.85em; }
    100% { top: 3em; opacity: 1; }
}

@-webkit-keyframes float-labels-bottom {
    0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
    20% { font-size: 1.5em; opacity: 0; }
    30% { top: 0.1em; }
    50% { opacity: 0; font-size: 0.85em; }
    100% { top: 3em; opacity: 1; }
}

/*
 * Calendar Accordion Styling
 * --------------------------------------------------
 */
.accordion .glyphicon { margin-right:10px; }
.accordion .calendar-day:hover { text-decoration:none; }
.accordion .panel-heading .badge { position:absolute; right:25px; }
.panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
.panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
.panel-collapse>.list-group {margin-bottom: 0;}
.panel-collapse .list-group-item {border-radius:0;}

.panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
.panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd;border-bottom: 0;padding-left: 30px;}
.panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

.panel-collapse div.list-group div.list-group{margin: 0;}
.panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd;border-bottom: 0;padding-left: 30px;}

.list-group-item-selected {
  background: #ddd;
}

.event-list-item-name {
  font-size: 1.2em;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.event-list-item date {
  font-style: italic;
  color: #666;
}

.event-list-item-desc {
  margin-top: 12px;
}

.event-list-item {
  cursor: pointer;
  margin-bottom: 25px;
}

.event-list-item:hover .event-list-item-name{
}

.browse-events-picture {
  margin-bottom: 10px;
}

.event-list-item:hover .browse-events-picture {
  box-shadow:0 0 15px #555;
}

#carousel-item {
  width: 100%;
}